body {
  background: linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.774)),
    url(/img/body-bg.jpg);
}

.container {
  width: 1130px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #444444;
  background-color: #000;
}

.header-nav {
  display: flex;
  flex-direction: row;
  margin-right: 150px;
  gap: 300px;
  justify-content: center;
  align-items: center;
}

.header-list {
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: center;
}

.header-title {
  font-family: "Fjalla One", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.41;
  font-weight: 400;
  font-size: 35px;
}

.header-title-second {
  font-family: "Fjalla One", sans-serif;
  color: rgb(94, 94, 94);
  line-height: 1.41;
  font-weight: 400;
  font-size: 48px;
}

.header-text {
  font-family: "Rajdhani", sans-serif;
  color: #ffffff;
  line-height: 1.41;
  font-weight: 400;
  font-size: 24px;
  transition: color 0.5s ease-out;
}


.header-text:hover,
.header-text:focus {
  color: rgb(87, 87, 87);
}

/* hero */

.hero {
  margin-top: 200px;
}

.button-content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.hero-text {
  font-family: "Fjalla One", sans-serif;
  color: rgb(136, 136, 136);
  line-height: 1.5;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.gta {
  color: #ffffff;
}

.hero-button {
  position: relative;
  width: 200px;
  height: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;

  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

.hero-button::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 210px;
  height: 70px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #ffffff 0%, rgb(94, 94, 94) 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero-button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ffffff 0%, #444444 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.hero-button:hover::after {
  filter: blur(30px);
}

.hero-button:active::before {
  scale: 0.7;
}

/* advantage */

.advantage {
  margin-top: 300px;
  margin-bottom: 50px;
}

.advantage-title {
  font-family: "Fjalla One", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.41;
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
}

.advantage-text {
  font-family: "Teko", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.41;
  font-weight: 400;
  font-size: 35px;
  text-align: center;
}

.advantage-p {
  font-family: "Fjalla One", sans-serif;
  color: rgb(165, 165, 165);
  line-height: 1.41;
  font-weight: 400;
  font-size: 18px;
}

.advantage-list {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 70px;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.advantage-item {
  width: 600px;
  height: 250px;
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
  box-shadow: 25px 25px 58px rgba(138, 138, 138, 0.5),
    inset -10px -10px 16px 0px rgba(107, 107, 107, 0.6),
    inset 0px 11px 28px 0px rgb(121, 121, 121);

  padding: 15px 25px 15px;
}

svg {
  fill: #ffffff;
  margin-right: 5px;
}

.advantage-terms {
  margin-top: 20px;
  font-family: "Fjalla One", sans-serif;
  color: rgb(138, 138, 138);
  line-height: 1.41;
  font-weight: 400;
  font-size: 28px;
  /* margin-left: 500px; */
  margin-left: 50%;
  margin-right: 10%;
}


@media only screen and (max-width: 768px) {
  .container {
    width: 100%; 
    padding-left: 5px;
    padding-right: 5px;
    max-width: 100%;
    overflow-x: hidden;
  }

  .header-nav {
    margin-right: 0; 
    gap: 50px;
  }

  .header-list {
    gap: 20px; 
  }

  .hero {
    margin-top: 100px; 
  }

  .hero-button {
    margin-bottom: 20px;
  }

  .button-content {
    margin-top: 20px; 
  }

  .hero-text {
    font-size: 18px; 
  }

  .advantage {
    margin-top: 150px; 
  }

  .advantage-title {
    font-size: 28px; 
  }

  .advantage-list {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
  }

  .advantage-item {
    width: 100%; 
    width: 100%; 
    padding: 15px; 
    box-sizing: border-box; 
  }

  .advantage-terms {
    font-family: "Fjalla One", sans-serif;
    color: rgb(138, 138, 138);
    line-height: 1.41;
    font-weight: 400;
    font-size: 28px;
    margin-left: 35%;
  }
  
  .advantage-text {
    font-size: 24px; 
  }

  .advantage-p {
    font-size: 12px; 
  }

  .hero {
    margin-top: 300px; 
  }
  
  .hero-text {
    font-size: 36px; 
  }
  
  .hero-button {
    width: 180px; 
    height: 50px; 
    font-size: 18px; 
    margin-top: 20px;
  }

  .hero-button::before {
    margin: auto;
    width: 190px;
    height: 60px;
  }
}